<h3>Sign In</h3>

<form action="/admin" method="Post">
    <label for="username"><b>Username</b></label>
    <input type="text" placeholder="Enter Username" name="username">

    <label for="password"><b>Password</b></label>
    <input type="text" placeholder="Enter password" name="password">

    <input type="submit" value="Login" class="btn" name="action">
    <input type="submit" value="Register" class="btn" name="action">
</form>


